@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-opacity {
  transition: opacity 1.5s ease-in-out;
}

.hidden {
    display: none;
}

@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100svh;
    }
    .content {
        flex: 1;
    }
    @media (min-height: 620px) {
        .footer-custom {
            position: absolute;
            bottom: 0;
        }
    }
}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100svh;
    }
    .content {
        flex: 1;
    }
    @media (min-height: 825px) {
        .footer-custom {
            position: absolute;
            bottom: 0;
        }
    }
}